@import url(./_active/header__lang-link_active.css);

.header__lang-link {
    text-decoration: none;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:last-child {
  margin-left: 18px;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .header__lang-link {
        font-size: 18px;
    }}


.header__lang-link:hover {
  opacity: 0.8;
}