.page{
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(42, 44, 47, 1);
    overflow: hidden;
    }