.places {
    margin: 0 auto;
    max-width: calc(100% - 296px);
    width: 100%;
    list-style: none;
    padding-bottom: 92px;
    padding-top: 98px;
    padding-left: 0;
    
    
}

@media screen and (max-width:1024px) {
    .places {
      max-width: calc(100% - 96px);
    }
  }
  @media screen and (max-width:767px) {
    .places {
      max-width: calc(100% - 48px);
      padding-bottom: 88px;
    }
  }
  @media screen and (max-width:320px) {
    .places {
        max-width: 320px;
        padding-bottom: 64px;
    }
  }