.places {
    margin: 0 auto;
    list-style: none;
    padding-top: 98px;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

/*
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
*/