@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);


.header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 max-width: 1184px;;
 /*width: calc(100% - 96px);*/
 padding: 28px 48px 0 48px;
 margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .header {
        /*width: calc(100% - 48px);*/
        padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        /*width: calc(100% - 32px);*/
        padding: 16px 16px 0 16px;

        
        
        
}
}