.lead__image{
    width: 100%;
    /*min-height: 615px;*/
    max-width: 984px;
    object-fit: fill;
    object-position: center;
    margin: auto;
}

/*@media screen and (min-width: 1024px) {
    .lead__image  {
        min-height: 580px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .lead__image {
        min-height: 480px;
    }
}

@media screen and (min-width: 320px) and (max-width:767px) {
    .lead__image {
        min-height: 200px;

    }
}
  */
  
  @media screen and (min-width:768px) and (max-width:1023px){
    .lead__image {
      margin: auto;
      padding: 0;
    }
  }
