@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
   background-image: url('../../images/cover-trains.jpg');
   margin: 0 auto;
   background-position: center;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1184px;
   width: 100%;

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        height: 640px;

    }
}
@media screen and (min-width: 321px) and (max-width: 768px)  {
    .cover {
        max-width: 768px;
        height: 480px;

    }
}

@media screen and (max-width: 767px)  {
    .cover {
        max-width: 320px;
        height: 200px;
    }
}