@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

.cover {
   background-image: url('../../images/cover-trains.jpg');
   margin: 0 auto;
   background-position: center;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1184px;
   width: 100%;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover {
        /*max-width: 1024px;*/
        min-height: 640px;

    }
}
@media screen and (min-width: 320px) and (max-width: 450px)  {
    .cover {
        min-height: 200px;

    }
}

@media screen and (min-width: 450px) and (max-width: 768px)  {
    .cover {
        
        min-height: 480px;
    }
}