.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    max-width: 550px;
    color: #ffffff;
    margin: 0 ;
    z-index: 1;
    position: absolute;
    top: 245px;
    left: 312px;
   
}


@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 320px;
        height: 200px;
        top:195px;
        left: 232px;

    }
}



@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 768px;
        height: 480px;
        top:115px;
        left: 104px;

    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 1.09;
        top: 33px;
        left: 16px;

    }
}






  