@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__paragraph-box/place__paragraph-box.css);

.place{
    display: grid;
    grid-template-columns: 460px 456px;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 40px 48px;
    grid-template-areas: 
    "title website"
    "image paragraph";
    margin-bottom: 80px;
    
}

.place:last-child {
    margin-bottom: 0;
}